:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --dairy: #fcfcfc;
}
body{
    font-family: 'Roboto', sans-serif;
    color: var(--slate);
    font-family: 'Roboto';
    font-weight: medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
}
h1{
    font-family:'Roboto'; 
    font-weight: bold;
    font-size: 56px;
    letter-spacing: 2%; 
    line-height:60px;
}
h2{
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 2%;
}
h3 {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2%;
}
button:hover{
    background-color:var(--ocean);
    color: white;
    border-radius: 4%;
}
button{
    background-color: var(--iris);
    color: white;
    border-radius: 4%;
    width: 169px;
    height: 56px;
    border: none;
    cursor: pointer;
    font-family: 'Roboto';
    font-weight: medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 4%;
}
a{
    font-family: 'Roboto';
    font-weight: regular;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 4%;
    text-decoration: underline;
}
.list-nostyle {
    list-style-type: none;

}
.nav-list>li>a, .info-list>li>a{
    color: var(--slate);
    text-decoration: none;
}
.nav-list > li > a:hover, .info-list>li>a:hover{
    color: var(--iris);
    text-decoration: none;
}
.nav-list > li > a:active{
    color: var(--iris);
}
.team-card{
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    width: 264px;
    height: 428px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: var(--white);
}
.project-card{
    width: 360px;
    height: 420px;
    background:white;
}
/*
Biraz labellarla uğraşıyordum ama validator hata verdi yine de burada bırakmak istedim

.hidden-checkbox{
    display: none;
}
.hidden-checkbox:checked + .project-card{
    width: 360px;
    height: 420px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background:white;
}
*/
