:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --dairy: #fcfcfc;
}

body {
    font-family: 'Roboto', sans-serif;
    color: var(--slate);
    font-family: 'Roboto';
    font-weight: medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
}

footer {
    padding-top: 50px;
    height: 312px;
    background-color: var(--navy-blue);
}

ul>li>a {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--navy-blue);

}

h1 {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 56px;
    letter-spacing: 2%;
    line-height: 60px;
}

h2 {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 2%;
}

h3 {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2%;
}

button:hover {
    background-color: var(--ocean);
    color: white;
    border-radius: 4%;
}

button {
    background-color: var(--iris);
    color: white;
    border-radius: 4%;
    width: 169px;
    height: 56px;
    border: none;
    cursor: pointer;
    font-family: 'Roboto';
    font-weight: medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 4%;
}

a {
    font-family: 'Roboto';
    font-weight: regular;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 4%;
    text-decoration: underline;
}

.bottom-logo {
    display: block;
}

.footer-text {
    color: white;
    width: 264px;
    height: 112px;
}

.vision {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.our-portfolio {
    padding:50px 0;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.our-team {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.section-header {
    text-align: center;
}

.header-section {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.top-logo {
    align-self: center;
}

.container {
    padding-top: 50px;
    margin: 0 auto;
    width: 1158px;
}

.effective-section {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: var(--navy-blue);
    height: 600px;
}

.effective-section>section>h1 {
    color: white;
}

.list-nostyle {
    list-style-type: none;
}

.nostyle-link {
    text-decoration: none;
}

.nostyle-link:hover {
    text-decoration: none;
}

.nostyle-link:active {
    text-decoration: none;
}

.nav-list {
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
}

.our-team-section {
    background-color: var(--cloud);
}

.info-list {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}

.nav-list>li>a,
.info-list>li>a {
    color: var(--slate);
    text-decoration: none;
}

.nav-list>li>a:hover,
.info-list>li>a:hover {
    color: var(--iris);
    text-decoration: none;
}

.nav-list>li>a:active {
    color: var(--iris);
}

.team-card {
    text-align: center;
    border-radius: 0 0 4px 4px;
    padding: 0px 0px 32px 0px;
    width: 264px;
    height: 428px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: var(--white);
}

.project-card {
    border-bottom: 2px solid #E7E9FC;
    border-left: 2px solid #E7E9FC;
    border-right: 2px solid #E7E9FC;
    width: 360px;
    height: 420px;
    background: white;
}

#iris-web {
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    font-family: 'Raleway';
    font-weight: bold;
    color: #4D5AE5;
}
#white-studio {
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    font-family: 'Raleway';
    font-weight: bold;
    color: white;
}
#navy-studio {
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    font-family: 'Raleway';
    font-weight: bold;
    color: #434455;
}

/*
Biraz labellarla uğraşıyordum ama validator hata verdi yine de burada bırakmak istedim

.hidden-checkbox{
    display: none;
}
.hidden-checkbox:checked + .project-card{
    width: 360px;
    height: 420px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background:white;
}
*/