:root {
    --iris: #4d5ae5;
    --ocean: #404bbf;
    --navy-blue: #2e2f42;
    --green: #31d0aa;
    --slate: #434455;
    --light-slate: #8e8f99;
    --cornflower: #e7e9fc;
    --cloud: #f4f4fd;
    --navy-blue-modal: rgba(46, 47, 66, 0.4);
    --grey: rgba(46, 47, 66, 0.7);
    --dairy: #fcfcfc;
    --font-family: "Roboto", sans-serif;
    --second-family: "Raleway", sans-serif;     
}
.terms:active{
    border-radius: 2px;
        fill: var(--ocean);
        border: 1px solid var(--ocean);
}
.modal{
    display: none;

}
.is-open{
    display: flex;
    z-index: 5;
    position:fixed;
    justify-content: center;
    align-items: center;
    width: 100%;
        height: 1000px;
}
body {
    font-family: 'Roboto', sans-serif;
    color: var(--slate);
    font-family: 'Roboto';
    font-weight: medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%;
}
.sub-button{
    font-family: var(--font-family);
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        letter-spacing: 0.04em;
        color:white;
    border-radius: 4px;
        padding: 8px 24px;
        width: 173px;
        height: 40px;
        background: var(--iris)
}
.sub-group{
    display: flex;
    gap: 24px;
}
.sub-icon{
    fill: white;
    justify-self: center;
    align-self: center;
    margin-left: 16px;
    width: 24px;
    height: 20px;
}
.subscribe-section{
    width: 453px;
        height: 80px;
}
.footer-input{
    border: 1px solid white;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: var(--navy-blue);
        border-radius: 4px;
        width: 264px;
        height: 40px;
}
.footer-input::placeholder{
    font-family: var(--font-family);
        font-weight: 400;
        font-size: 12px;
        line-height: 200%;
        letter-spacing: 0.04em;
        color:white;
        padding-left: 16px;
}
footer {
    padding-top: 50px;
    height: 312px;
    background-color: var(--navy-blue);
}
.footer-list{
    display: flex;
    gap: 120px;
}

ul>li>a {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: var(--navy-blue);

}
h1 {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 56px;
    letter-spacing: 2%;
    line-height: 60px;
}

h2 {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 36px;
    letter-spacing: 2%;
}

h3 {
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2%;
}

button:hover {
    background-color: var(--ocean);
    color: white;
}

button {
    transition: background-color 250ms cubic-bezier(0.4,0,0.2,1);
    background-color: var(--iris);
    color: white;
    border-radius: 4%;
    width: 169px;
    height: 56px;
    border: none;
    cursor: pointer;
    font-family: 'Roboto';
    font-weight: medium;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 4%;
}
.input-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 1rem 0;
}
.exit-button{
    margin-top: 24px;
    margin-right: 24px;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background-color: var(--cornflower);
    width: 24px;
    height: 24px;
}
.exit-button:hover .close-icon{
    fill: white;
}
.input-label {
    font-family: var(--font-family);
        font-weight: 400;
        font-size: 12px;
        line-height: 117%;
        letter-spacing: 0.04em;
        color: var(--light-slate);
    width: 360px;
    height: 58px;
}
.chekbox-label{
    font-family: var(--font-family);
        font-weight: 400;
        font-size: 12px;
        line-height: 117%;
        letter-spacing: 0.04em;
        color: var(--light-slate);
}
.label-a{
    line-height: 133%;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: var(--iris);
}
.input-wrapper {
    margin-bottom: 8px; ;
    position: relative;
    display: flex;
    align-items: center;
}

.modal-icon{
    position: absolute;
    left: 10px;
    width: 12px;
    height: 12px;
    fill: var(--navy-blue);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.input-icon-filler{
    fill: var(--slate);
}
.chekbox-input{
    display: block;

}
.modal-button{
    margin-top: 24px;
    align-self: center;
}
.input-icon {
    padding-left: 36px;
    width: 100%;
    height: 36px;
    border-radius: 6px;
    border: 1px solid var(--navy-blue-modal);
    font-size: 14px;
    outline: none;
}
.input-textarea {
    padding:0px;
    height: 120px;
}
.input-icon:focus {
    border-color: var(--iris);
}
.input-wrapper:has(input:focus) svg {
    fill: var(--iris);
    
}
a {
    font-family: 'Roboto';
    font-weight: regular;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 4%;
    text-decoration: underline;
}
.modal-main>p{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
}
.modal-main{
    z-index: 4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 160px auto;
    width: 408px;
    height: 616px;
    border-radius: 4px;
    background-color:var(--dairy);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14),
        0 1px 3px 0 rgba(0, 0, 0, 0.12),
        0 2px 1px 0 rgba(0, 0, 0, 0.2);
}
.modal-background{
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 1000px;
    background-color:var(--navy-blue-modal);
}
.icon-background{
    display: flex;
    border: 1px solid var(--light-slate);
    border-radius: 4px;
    width: 264px;
    height: 112px;
    align-items: center;
    justify-content: center;
    background-color: var(--cloud);
}
.team-icons{
    display: flex;
    width: 264px;
    height: 40px;
    justify-content: space-evenly;
}
.elipse{
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    border-radius: 100%;
    background-color: var(--iris);
}
.footer-icon-list{
    margin: 0;
    padding: 0;
    border: 0;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}
.footer-icon{
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon:hover{
    background-color: var(--green);
}
.team-icon{
    transition: background-color 250ms cubic-bezier(0.4,
        0,
        0.2,
        1);
}
.team-icon:hover{
    background-color: var(--ocean);
}
.icon-sm{
    height: 16px;
    width: 16px;
}
.close-icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 8px;
    height: 8px;
    fill: var(--navy-blue);
}
.icon{
    height: 64px;
    width: 64px;
}

.footer-text {
    color: white;
    width: 264px;
}
.social-header{
    font-weight: 500;
}

.vision {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.our-portfolio {
    padding:50px 0;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.our-team {
    padding: 50px 0;
    display: flex;
    justify-content: center;
    gap: 24px;
}

.section-header {
    text-align: center;
}
header{
    z-index: 2;
    position: fixed;
    top: 0;
    background-color: white;
    width: 100%;
}
.header-section {
    margin: 0 auto;
    width: 1158px;
    display: flex;
    justify-content: space-between;
    align-items:flex-start;
}

.top-logo {
    align-self: center;
}

.container {
    padding-top: 50px;
    margin: 0 auto;
    width: 1158px;
}
.effective-image{
    position: absolute;
    z-index: -1;
    background-image:url(../images/people-office.png);
    background-size: cover;
    height: 600px;
    width: 100%;
}
.effective-section {
    display: flex;
    align-items: center;
    text-align: center;
    background-color: var(--grey);
    height: 600px;
}

.effective-section>section>h1 {
    color: white;
}

.list-nostyle {
    list-style-type: none;
}

.nostyle-link {
    text-decoration: none;
}

.nostyle-link:hover {
    text-decoration: none;
}

.nostyle-link:active {
    text-decoration: none;
}

.nav-list {
    margin-left: -200px;
    display: flex;
    justify-content: space-evenly;
    gap: 40px;
}

.our-team-section {
    background-color: var(--cloud);
}

.info-list {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
}

.nav-list>li>a,
.info-list>li>a {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: var(--slate);
    text-decoration: none;
}

.nav-list>li>a:hover,
.info-list>li>a:hover {
    color: var(--iris);
    text-decoration: none;
}
.underline::after {
    content: "";
    position: absolute;
    translate: -48.02px 0;
    bottom: -2px;
    width: 48px;
    height: 4px;
    background-color: var(--ocean);
}
.team-card {
    text-align: center;
    border-radius: 0 0 4px 4px;
    width: 264px;
    height: 428px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background:white;
}
.project-card {
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    width: 360px;
    height: 420px;
    background: white;
}
.overlay>p{
    margin: 40px auto;
    width: 296px;
    color: var(--cloud);
}
.project-card:hover{
    cursor:pointer;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.project-card:hover .overlay{
    transform: translateY(0);

}
.project-card .img-disp{
    display: flex;
}
.project-card .img-section{
    position: relative;
    overflow: hidden;
}
.overlay {
    justify-content: center;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--iris);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    transform: translateY(100%);
}
.project-card .text-section{
    padding: 15px 0 0 15px;
    border-bottom: 2px solid #E7E9FC;
    border-left: 2px solid #E7E9FC;
    border-right: 2px solid #E7E9FC;
}

#iris-web {
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    font-family: 'Raleway';
    font-weight: bold;
    color: #4D5AE5;
}
#white-studio {
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    font-family: 'Raleway';
    font-weight: bold;
    color: white;
}
#navy-studio {
    font-size: 18px;
    line-height: 117%;
    letter-spacing: 0.03em;
    font-family: 'Raleway';
    font-weight: bold;
    color: #434455;
}
